.error {
  color: var(--highlight-color-invalid);
}

.color-input {
  ::ng-deep {
    input {
      height: 50px;
    }
  }
}

.unicorn-display {
  width: 100%;
  display: flex;
  max-height: 500px;
}

.footer {
  display: flex;
  .btn-save {
    margin: auto;
    width: 300px;
  }
}
