<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Create my unicorn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col
        size-xl="5"
        size-lg="6"
        size-md="9"
        size-xs="12"
        class="ion-justify-content-center"
      >
        <form
          [formGroup]="unicornForm"
          novalidate
        >
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input
              formControlName="name"
              type="text"
              required
            ></ion-input>
            <span
              data-testid="form-name-error-required"
              class="error ion-padding"
              *ngIf="unicornForm.touched && unicornForm.controls.name.errors?.required"
            >
              Name is required.
            </span>
            <span
              data-testid="form-name-error-minlength"
              class="error ion-padding"
              *ngIf="unicornForm.controls.name.errors?.minlength"
            >
              Name should be min 4 chars long.
            </span>
          </ion-item>

          <ion-item>
            <ion-label position="floating">age</ion-label>
            <ion-input
              formControlName="age"
              min="1"
              max="999"
              type="number"
              required
            ></ion-input>
            <span
              data-testid="form-age-error-required"
              class="error ion-padding"
              *ngIf="unicornForm.controls.age.errors?.required"
            >
              Age is required.
            </span>
            <span
              data-testid="form-age-error-min"
              class="error ion-padding"
              *ngIf="unicornForm.controls.age.errors?.min"
            >
              Age should be min 1 year old.
            </span>
            <span
              data-testid="form-age-error-max"
              class="error ion-padding"
              *ngIf="unicornForm.controls.age.errors?.max"
            >
              Age should be max 999 years old.
            </span>
          </ion-item>

          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select
              formControlName="gender"
              placeholder="Select One"
            >
              <ion-select-option
                *ngFor="let value of unicornGenderValues"
                [value]="value"
              >
                {{ value}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item class="color-input">
            <ion-label position="fixed">Color</ion-label>
            <ion-input
              formControlName="color"
              type="color"
              class="padding-top"
              required
            ></ion-input>

            <ion-button
              type="submit"
              expand="full"
              color="secondary"
              (click)="onClickRandomizeColor()"
            >
              Random
            </ion-button>
          </ion-item>
        </form>

        <div class="unicorn-display">
          <app-unicorn-display
            class="ion-text-center"
            [unicorn]="unicornObs  | async"
          >
          </app-unicorn-display>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer ion-justify-content-center">
  <ion-toolbar>
    <ion-button
      data-testid="btn-submit"
      expand="full"
      color="secondary"
      class="btn-save"
      (click)="onClickSubmitForm()"
      [disabled]="!unicornForm.valid"
    >
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>
